force-app/main/default/flows/ZIP_call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>getzipdata</name>
        <label>getzipdata</label>
        <locationX>434</locationX>
        <locationY>258</locationY>
        <actionName>zipcall.zip code</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Check_Status_code</targetReference>
        </connector>
        <faultConnector>
            <targetReference>showzipres</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>country_list</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>zipcode</name>
            <value>
                <elementReference>Zip_code</elementReference>
            </value>
        </inputParameters>
        <nameSegment>zipcall.zip code</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_place</name>
        <label>assign place</label>
        <locationX>1132</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>placesinglevariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_places</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createZIPData</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>places_assignment</name>
        <label>places assignment</label>
        <locationX>1155</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>places</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getzipdata.2XX.places</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_places</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Status_code</name>
        <label>Check Status code</label>
        <locationX>807</locationX>
        <locationY>526</locationY>
        <defaultConnector>
            <targetReference>showzipres</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ok200US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getzipdata.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getzipdata.2XX.countryx20abbreviation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showzipres_0</targetReference>
            </connector>
            <label>ok200US</label>
        </rules>
        <rules>
            <name>Ok200nonus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getzipdata.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getzipdata.2XX.countryx20abbreviation</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>places_assignment</targetReference>
            </connector>
            <label>Ok200nonus</label>
        </rules>
        <rules>
            <name>notfound401</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getzipdata.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>401.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showzipres_0_0</targetReference>
            </connector>
            <label>notfound401</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>countries</name>
        <collectionReference>get_country_metdata</collectionReference>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <object>CountryCode_to_Country_Mapping__mdt</object>
        <valueField>Label</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>ZIP call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ZIP call</label>
    <loops>
        <name>loop_places</name>
        <label>loop places</label>
        <locationX>1074</locationX>
        <locationY>279</locationY>
        <collectionReference>places</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_place</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createZIPData</name>
        <label>createZIPData</label>
        <locationX>884</locationX>
        <locationY>640</locationY>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>placesinglevariable.placex20name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>getzipdata.2XX.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>placesinglevariable.state</elementReference>
            </value>
        </inputAssignments>
        <object>ZIP_data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_country_metdata</name>
        <label>get country metdata</label>
        <locationX>669</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>zip_input</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CountryCode_to_Country_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>showzipres</name>
        <label>showerror</label>
        <locationX>371</locationX>
        <locationY>695</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dispalyresponse</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(163, 25, 25);&quot;&gt;There is an issue with calling API. Please try after sometime {!getzipdata.defaultExc}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showzipres_0</name>
        <label>showzipres</label>
        <locationX>176</locationX>
        <locationY>564</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dispalyresponse_0</name>
            <fieldText>&lt;p&gt;{!getzipdata.defaultExc}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!getzipdata.responseCode}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!getzipdata.2XX.places}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!getzipdata.2XX.country}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!getzipdata.2XX.postx20code}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!getzipdata.2XX.countryx20abbreviation}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showzipres_0_0</name>
        <label>showerror</label>
        <locationX>561</locationX>
        <locationY>766</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dispalyresponse_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;There is no data found for {!Zip_code} in country {!country_list}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>zip_input</name>
        <label>zip input</label>
        <locationX>669</locationX>
        <locationY>290</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getzipdata</targetReference>
        </connector>
        <fields>
            <name>country_list</name>
            <choiceReferences>countries</choiceReferences>
            <dataType>String</dataType>
            <fieldText>select country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Zip_code</name>
            <dataType>String</dataType>
            <fieldText>Zip code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>displayvalue</name>
            <fieldText>&lt;p&gt;{!countryvalue}{!Zip_code}   &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_country_metdata</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>countryvalue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>country_list</elementReference>
        </value>
    </variables>
    <variables>
        <name>places</name>
        <apexClass>ExternalService__zipcall_zipx20code_OUT_2XX_places</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>placeshtml</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>placesinglevariable</name>
        <apexClass>ExternalService__zipcall_zipx20code_OUT_2XX_places</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
